:root{
    --field-size:30px;
    --post-padding:10px;
    --post-commnet-background:rgba(145, 145, 145, 0.541);
}

*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}