:root{
    --field-size:30px;
    --header-height:55px;

    --facebook-background-color:rgb(20, 20, 20);
    --seperator-line: rgb(87, 87, 87);

}
*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.facebook{
    position: relative;
    font-family: "Roboto", sans-serif;
}