.NewPost{
    width: 600px;
    margin: 10px;
    display: flex;
    border-radius: 10px;
}

.NewPost > button {
    border: none;
    font-size: 15px;
    width: 100%;
}

@media screen and (max-width:650px) {
    .NewPost {
        width: 90vw;
    }
}