
.PostCommentContainer{
    display: flex;
    margin-top: 10px;
}

.UserComment{
    display: flex;
    flex-direction: column;
}

.PostComment{
    border-radius: 20px;
    padding: 5px;
    display: inline-block;
    
}

.CommentOptions{
    display: flex;
    align-items: center;
    width: 150px;
    margin-bottom: 5px;
}