
.PostCommentContainer{
    display: flex;
}

.UserComment{
    display: flex;
    flex-direction: column;
}

.PostComment{
    background-color: var(--post-commnet-background);
    border-radius: 20px;
    padding: 7px;
    display: inline-block;
}

.CommentOptions{
    display: flex;
    align-items: center;
    width: 130px;
    margin-bottom: 5px;
}