.FeedSponsored{
    width: 300px;
    padding-top: 15px;
}
.FeedPage--title{
    padding-left: 7px;
    padding-bottom: 5px;
}

.FeedPage--btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-bottom: 15px;
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


.FeedPage--btn img{
    width: 40%;
    height: 90%;
    border-radius: 10px;
}

.FeedPage__Main{
    display: flex;  
}


.feedPage__Main__Text{
    padding-left: 5px;
    width: 100%;
}