.FeedBoxNote{
    border-bottom: 1px solid var(--seperator-line) ;
    justify-self: flex-end;
    width: 100%;
}
.FeedBoxNote p{
    color:var(--post-font-color);
}

.FeedPage--title{
    padding-left: 7px;
}

.FeedPage--btn{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 7px;
}

.FeedPage--btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.FeedPage--btn img{
    width: 40%;
    height: 90%;
    border-radius: 10px;
}

.FeedPage--btn:hover {
    background-color: var(--post-background);
    border-radius: 10px;
}