.friend-cover-container{
    width:100vw;
    height:55vh ;
    background-image: linear-gradient(#CDD0D3 25%,  #272829 75%);
    display: flex;
    justify-content: center;
    position: relative;
    
}

.friend-cover-container  img{
    height:35vh;
    width: 55vw;
    border: 1px solid black;
    
}

.friend-profile-container{
    position: absolute;
    width: 10vw;
    height: 20vh;
    border:1px solid black;
    top:50%;
    transform: translateY(-50%);
    border-radius: 100%;
}

.friend-profile-name{
    text-align: center;
    position: absolute;
    top:75%;
    transform: translateY(-50%);
    border-radius: 100%;
    color: white;
}
.underLine{
    width:50vw;
}

.friend-profile-header-container{
    display: flex;
    justify-content: center;
    position: absolute;
    left:50%;
    top:55%;
    transform: translate(-50%);
    z-index: 2;
   
}
.friend-profile-header-container a{
    color: white;
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.4s;
    border-radius: 5px;
}
.friend-profile-header-container a:hover{
    background: #acaeaf;
}
.friend-empty-div{
    width:5rem
}

header button{
min-width: 30px;
border-radius: 5px;
background: #3A3B3C;
color:white;
transition: all 0.4s;
cursor: pointer;
}
.message-friend-btn{
    min-width: 90px;
}

header button:hover{
    
    background: #acaeaf;
    color:white;
    }