/* TO-DO -> media query  */ 
.FeedPage{
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0 15vw;
    padding-top: var(--header-height);
}

.FeedPage_CenterPage{
    height: 100%;
    box-sizing: content-box; /* So the width will be 100% + 17px */
    width: 650px;
}

.FeedPage_RightPage{
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 300px;
    right: 20px;
}

.FeedPage_LeftPage{
    width: 300px;
}

.facebookShortcut > div{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.facebookShortcut p{
    font-size: 15px;
    margin-left: 10px;
}

.facebookShortcut i{
    font-size: 30px;
}