.Post{
    width: 600px;
    margin: 10px;
    border-radius: 10px;
}
.Post > p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.PostHeaderUser {
    display: flex;
    align-items: center;
}

.PostHeaderUser .PostHeaderUser__Info{
    display: flex;
    flex-direction: column;
}


.PostBtnContainer{
    display: flex;
    justify-content: space-around;
}

.CommentOptions{
    width: 120px;
    display: flex;
    justify-content: space-evenly;
}