.Post{
    width: 600px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}
.Post > p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.PostHeaderUser {
    display: flex;
    align-items: center;
}

.PostHeaderUser .PostHeaderUser__Info{
    display: flex;
    flex-direction: column;
}

.PostHeaderUser .postOptions{
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.PostBtnContainer{
    display: flex;
    justify-content: space-around;
}

.CommentOptions{
    width: 120px;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:650px) {
    .Post {
        width: 90vw;
    }
}